# Once this repository is public, move this workflow to security-integrations
name: ClickBOM Tests
on: [push]

jobs:
  test_clickbom_github:
    name: ClickBOM Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup BATS
        run: ./setup-bats.sh

      - name: Run Tests
        run: ./run-tests.sh